.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;

}

.note
{
    font-size: 15px;
    color: black;

}
body
{
background-size: cover;

}



 
 .play_button
 {
     width: 160px;
     font-size: 25px;

 }
 canvas
 {
     border: 5px solid lightskyblue;
     border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    padding: 5px;
    

 }
 @keyframes example
 {
from{box-shadow: 1px 1px 38px grey;}
to{box-shadow: 1px 1px  38px  white;}

 }

